/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s linear ;
}
body{
    direction: ltr;
    width: 100%;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
header{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 72px;
    top: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    direction: ltr;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 14px;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.12);
}
#header-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 1184px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 50px;
    margin-right:  50px;
    z-index: 100;
}
.logo{
    padding-left: 30px;
    margin-left: 20px;
}
.logo img{
    height: auto;
    width: 170px;
    font-weight: 900;
}
.header-indox{
    display: flex;
    gap: 20px;
      justify-content: space-between;
    
}
form{
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
}
input{
    width: 500px;
    height: 40px;
    border: 1px solid #6f6b6b91;
    border-radius: 3px;
    padding: 5px 10px 3px 50px;;
    font-size: medium;
    margin: 3px;
}
.search-input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}
.fa-magnifying-glass{
    padding: 12px;
    position: absolute;
    display: flex;
    left: 12px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #716f6f;
}
.btn-header{
    margin-left: 8px;
    border-radius: 5px;
    padding: 12px;   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    position: relative;
    color: #fff;
    background:#f68b1e;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    outline: none;
}
.btn-header:hover{
    background: #c76606;
}
.nav-info{
    display: flex;
    padding: 0;
    direction: ltr;
    padding-right: 40px;
    margin-right: 20px;
}
.help-con, .account-con, .cart-con{
    display: flex;
    direction: ltr;
    align-items: center;
    cursor: pointer;
    margin: 5px;
}
.help-con::after, .account-con::after, .cart-con::after{
   border: 1px solid;
   border-radius: 4px;
}
.help-con:hover, .cart-con:hover, .account-con:hover{
    color: #f68b1e;
    border-radius: 5px;
}
.hero-icon{
    font-size: 24px;
    margin: 5px;
}
.nav-info p{
    color: rbg(48, 49, 51);
    cursor: pointer;
  
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    text-size-adjust: 100%;
}
.account-drop{
    margin: 10px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
}
.btn-sign-drop{
    width: 200px;
    padding:  16px 20px;
    border-radius: 5px;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    color: #fff;
    background:#f68b1e;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    line-height: ipx;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    outline: none;
    margin-bottom: 16px;
}
.line{
    width: 100%;
    border:1px solid #e6e1e1;
    margin-bottom: 16px;
}
.acc-drop{
    display: block;
    box-sizing: border-box;
    padding: 8px;
    background: #fff;
    cursor: pointer;
}
.acc-drop span{
    box-sizing: border-box;
    background: #fff;
    font-size: 16px;
    font-family: 'Roboto';
    font-family: 400;
    padding: 8px;
}
.acc-drop i{
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}
.help-drop{
    margin: 10px;
    background: #fff;
    align-items: center;
    border-radius: 8px;
}
.text-drop{
    display: block;
    align-items: start;
    padding: 16px;
    text-align: start;
}
.text-drop span{
    box-sizing: border-box;
    background: #fff;
    font-size: 16px;
    display: block;
    font-family: 'Roboto';
    font-family: 400;
    padding: 8px;
}
.btn-help-drop{
    padding:  16px 20px;
    border-radius: 5px;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    color: #fff;
    background:#f68b1e;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    line-height: ipx;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    outline: none;
    margin-bottom: 16px;
}
.fa-message-dots{
    font-size: 18px;
    color: #f68b1e;
}
main{
    background-color: rgb(101, 180, 211);
    padding-top: 65px;
    
}
.main-container{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 50px;
    margin-right: 50px;

}

.col1{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
   padding: 8px;
    text-size-adjust: 100%;
    width: 1183.99px;
  

}
.col1-section{
    /* background-color: rgb(255, 255, 255); */
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px; */
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: flex;
    padding-top: 12px;
    /* height: 500.256px; */
   
    width: 100%;
}

.left-con{
    box-sizing: border-box;
    display: block;
    width: 205.997px;
}
.left-icon{
    padding-right: 5px;
    font-size: 20px;
    font-weight: 400;
}
.left-con ul{
 background: rgb(255, 255, 255);
 border-radius: 4px;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
 color: rgb(49, 49, 51);
 flex-wrap: wrap;
 box-sizing: border-box;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
 flex-wrap: wrap;
 overflow-y: hidden;
 overflow-x: hidden; 
 left: 0;
 top: 0;
 height: 400px;
 /* z-index: 50; */
 margin-left: 4px;
}
.left-con ul li{
    box-sizing: border-box;
    align-items: center;
    display: flex;
    font-size: 12px;
    direction: ltr;
    padding: 4px;
    height: 31.994px;
    cursor:pointer ;
     text-decoration: none;
    list-style: none;
    padding-left: 8px;
    width: 205.997px; 

}
.left-con img{
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    margin-right: 4px;
    cursor: pointer;
    direction: ltr;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 20px;  
}

.left-con ul li p{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    font-size: 12px;
   
}

.right-col1{
    display: flex;
    flex-direction: column;
    direction: ltr;
    height: 400px;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}
.righ-col1-upper{
    align-content: space-around;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    color: rgb(49, 49, 51);
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: hidden; 
    direction: ltr;
    display: flex;
    height: 184px;
    width: 218.021px;
    padding-right: 16px;
    padding-left: 16px;

}
.right-col1-content{
    display: flex;
    direction: ltr;
    width: 186px; 
    direction: ltr;
    align-items: center;
}
.right-col1-content .text{
    display: block;
}
.right-col1-content .text h2{
    font-weight: 500;
    font-size: 14px;
    color: rgb(49, 49, 51);
}
.right-col1-content .text p{
       font-size: 12px;
       padding-top: 4px;
      color: rgb(49, 49, 51);
}

.main-col1{
    border-radius: 4px;
    box-shadow: #ffffffc2;
    box-sizing: border-box;
    display: flex;
    height: 400px;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
    min-width: 712px;

}
.img-hero{
    left: 0;   
    top: 0px;
    box-sizing: border-box;
    height: 400px;
    display: flex;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
    user-select: none;
    width: 712px;
}
.img-hero img{
    overflow-clip-margin: content-box;
    overflow-y: clip;
    overflow-x: clip;
    width: 712px;
}


.right-col1-lower{
    width: 218.021px;
}
.right-col1-img{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    cursor: pointer;
    display: inline-block;
    height: 190px;
    width: 218.021px;
}
.right-col1-img img{
    height: 190px;
    width: 218.021px;
    direction: ltr;
    border-radius: 4px;
}
.btn-container--right, .btn-container--left{
    position: relative;
}
.btn{
    position: absolute;
    top: 40%;
    /* transform: translateY(-50%); */
    border: 0;
    background:  rgba(49, 49, 51, 0.329);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255); 
    cursor: pointer;
    font-size: 18px;
}

.col15-section-top{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 230px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

.col-love{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;  
}
.col-love-section{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px; */
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 290px;
    overflow-x: hidden;
    overflow-y: hidden; 
    text-size-adjust: 100%;
 
}
.col-love-container-1{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px; 
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 280.956px;
    width: 100%;
    padding-top: 8px;
    padding-left: 5px;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
.col-love-container-1 img{
  width: 100%;
  height: 270px;
  /* transition: transform 0.4s ease; */
}
.col-love-container-1:hover{
    transform:  scale(1.05);
    box-shadow:  0 4px 8px 0 rgba(0,0,0,.2);
} 
.col15-section-love{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 300px;
    margin-bottom: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

.coll-card{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.coll-card section{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 267px;
    overflow-x: hidden;
    overflow-y: hidden; 
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}
.coll-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}
.coll-card-container{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;   
}
.coll-card img{
     width: 560px; 
}
.coll-card img:hover{
    transform:  scale(1.05);
    width: 550px;
    height: 230px;
}
.two-section{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
   padding: 8px;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.col15-two-section{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: max-content;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.col15-main-two-section{
    box-sizing: border-box;
    direction: ltr;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    background: #fff;
    justify-content: space-evenly;
    padding-top: 8px;
    top: 0;   
    text-align: center;
    text-size-adjust: 100%;
    
}
.col11{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.col11-section{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    width: 100%;

}/*

 .official-container{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: flex;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    height: 400px;
    justify-content: center;
    position: relative;
    user-select: none;
} */
.carousel{
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.carousel-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-track-container{
    background: lightgoldenrodyellow;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.carousel-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.btn-con1{
    position: absolute;
    bottom: 25%;
    width: 100px;
    cursor: pointer;
    height: 200px;
    z-index: 4;
    transition-behavior: normal;
    transition-delay: 10s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
}
.btn-con2{
    position: absolute;
    bottom: 25%;
    width: 100px;
    cursor: pointer;
    height: 200px;
    transition-behavior: normal;
    transition-delay: 10s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
}
.con--right{
    right: 30px;
}
.con--left{
    left: 30px;
}
.carousel-btn{
    display: none; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background:  rgb(49, 49, 51);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    /* color: rgb(255, 255, 255); */
    cursor: pointer;
    font-size: 12px;
    
}
.carousel i{
    font-size: 10px;
    color: #fff;
} 
.carousel--left{
     left: 10px; 
     z-index: 5;
} 
 .carousel--right{
    right: 10px;
}

.carousel-nav{
    /* background-color: pink;   */
     display: flex;
    justify-content: center; 
    padding: 10px 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    cursor: pointer;
}

.hero-size{
    left: 40%;
}
.carousel-indicator{
     border: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #f68a1e70;
    cursor: pointer;
} 
.current-slide{
     background: coral;
}
/* .is-hidden{
    display: none;
}  */
.col-carosual{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
   padding: 8px;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.col-carosual-section{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

.col12{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
   padding: 8px;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.col12-section{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 275.256px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    width: 100%;

}
.col12-container{
    direction: ltr;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    height: 228.363px;
    justify-content: space-evenly;
    padding-top: 8px;
     text-align: center;
    text-size-adjust: 100%;
    width: 100%;
}
.col12-items{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    direction: ltr;
    width: 180px;
    justify-content: space-evenly;
    background-color: #fff;
    background: rgba(0,0,0,0);
    border-radius: 4px;
}
.col12-items:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    transform: scale(1.05);
}
.col12-article-3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.col12-article-3 img{
    width: 180.003px;
    height: 100px;
    display: block;
    cursor: pointer;
    color: #acafaf;
}
.col12-article-3 img:hover{
     box-shadow:  0 4px 8px 0 rgba(0,0,0,.2);
} 
.clo13{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
   padding: 8px;
    text-size-adjust: 100%;
    width: 1183.99px;
    -webkit-font-smoothing: antialiased;

}
.col13-section{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 200.256px;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.col13-container{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    padding: 4px;
    text-align: center;
    text-size-adjust: 100%;
    
}
.col13-cards{
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    cursor: pointer;
    direction: ltr;
    display: block;
    height: 245.327px;
   margin-bottom: 12px;
    text-align: center;
    text-size-adjust: 100%;
    width: 184.003px;
}
.cards-container{
    box-sizing: border-box;
    cursor: pointer;
    direction: ltr;
    border-radius: 4px;
    display: block;
    justify-content: space-evenly;
    text-align: center;
    text-size-adjust: 100%;
    width: 174.003px;
}
.cards-container img:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    transform: scale(1.05);
}
.cards-container img{
    width: 180px;
    height: auto;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-size-adjust: 100%;
}



.col14{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    text-size-adjust: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.col14 section{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 340.256px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}
.col14-header{
    align-items: center;
    background-color: rgb(195, 222, 240);
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: flex;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 49.9911px;
    justify-content: center;
    padding: 20px;
    text-size-adjust: 100%;
}
.col14-header-color{
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: flex;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 49.9911px;
    justify-content: center;
    padding: 20px;
    text-size-adjust: 100%;
}
.col14-header-color1{
    align-items: center;
    background-color: rgb(255, 186, 0);
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: flex;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 49.9911px;
    justify-content: center;
    padding: 20px;
    text-size-adjust: 100%;
}
.col-cards{
    display: flex;
    direction: ltr;
    box-sizing: border-box;
     flex-basis: auto;
    flex-wrap: wrap;
    background: #fff;
    justify-content: space-evenly;
    padding-top: 8px;
    top: 0;    
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    text-align: center;
    text-size-adjust: 100%;
    
}
.col14-all-c{
        background: rgba(0,0,0,0);
        border-radius: 4px;
        position: relative; 
        margin-left: 4px;
        margin-right: 4px;
}
.col14-all-c:hover{
    box-shadow:  0 4px 8px 0 rgba(0,0,0,.2);
    transform: scaleX(1.05);
}
.col14-h-d{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    direction: ltr;
    flex-grow: 1;
    max-width: 100%;
}
.col14-h-d h2, .col14-More p{
    color: rgb(49, 49, 51);
    display: block;
    font-size: 22px;
    font-weight: 500;
    text-size-adjust: 100%;

}
.col14-all-card{
    width: 100%;
    box-sizing: border-box;
    direction: ltr;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    /* position: relative; */
    background: #fff;
    justify-content: space-evenly;
    padding-top: 8px;
    top: 0;    
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    text-size-adjust: 100%;
  }
.col14-More{
    box-sizing: border-box;
    direction: ltr;
    display: flex;
    justify-content: flex-end;
    flex-basis: auto;
    padding: 4px;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.col14-More p{
    color: rgb(49, 49, 51);
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-size-adjust: 100%;
}
.fa-greater-than{
    box-sizing: border-box;
    font-size: 11px;
    color: rgb(49, 49, 51);
    font-weight: 700;
    margin-left: 5px;
    align-items: center;
    padding: 4px;
}

.col14-article-con{
    background: #fff;
    box-sizing: border-box;
    direction: ltr;
    display: flex;
    overflow: clip;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 4px;
    position: relative;
    width: 180px;
}

.article img{
    width: 180px;
    overflow-y: clip;
    overflow-x: clip;
    height: 233;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    box-sizing: border-box;
}

.col14-amount{
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    display: block;
    align-items: center;
    text-align: left;
}
.col14-amount h3{
    font: 16px;
    font-weight: 500;
    line-height: 16px;
    padding-top: 4px;
}
.col14-amount p{
    font: 12px;
    font-weight: 400;
    padding-top: 4px;
    color: rgb(117, 117, 122);
    line-height: 12px;
    text-align: left;
    text-decoration: line-through;
    text-decoration-color: rgb(117, 117, 122);
    padding-top: 4px;
}
.col14-article-des {
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    height: 25.9821px;
    line-height: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    text-overflow: ellipsis;
    text-size-adjust: 100%;
    text-wrap: nowrap;
    user-select: none;
}
.col14-percentage{
    align-items: center;
    background-color: rgb(254, 243, 233);
    border-bottom-left-radius: 2px;
    box-sizing: border-box;
    color: rgb(246, 139, 30);
    cursor: pointer;
    direction: ltr;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 23.9881px;
    justify-content: center;
    line-height: 14px;
    min-height: 24px;
    min-width: 40px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    right: 1px;
    text-size-adjust: 100%;
    top: 8px;
    
}


.col15{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
   padding: 8px;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.col15-section{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    height: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
   text-size-adjust: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.col15-header{
    align-items: center;
    background-color: rgb(195, 222, 240);
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: flex;
    height: 48.9911px;
    justify-content: center;
    min-height: 50.9911px;
    padding: 16px;
    font-weight: 500;
    text-size-adjust: 100%;
}
.col15-header-color{
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: flex;
    height: 48.9911px;
    justify-content: center;
    min-height: 50.9911px;
    padding: 16px;
    text-size-adjust: 100%;
}
.col15-header-color1{
    align-items: center;
    background-color: rgb(255, 186, 0);
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: flex;
    height: 48.9911px;
    justify-content: center;
    min-height: 50.9911px;
    padding: 16px;
    text-size-adjust: 100%;
}
.col15-header h2, .col15-header-color1 h2, .col15-header-color h2{
    color: rgb(49, 49, 51);
    display: block;
    font-size: 22px;
    font-weight: 500;
    text-size-adjust: 100%;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.col15-main{
    box-sizing: border-box;
    direction: ltr;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    background: #fff;
    justify-content: space-evenly;
    padding-top: 8px;
    top: 0;    
    text-align: center;
    text-size-adjust: 100%;
}
.col15-cards{
    display: inline-block;
    background: rgba(0,0,0,0);
    border-radius: 4px;
    align-content: center;
    height: max-content;
}

.col15-cards:hover{
    box-shadow:  0 4px 8px 0 rgba(0,0,0,.2);
    transform: scaleX(1.05);
}
.col15-img{
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    
}
.col15-img img{
    width: 180.003px;
    height: 228px;
    border-radius: 4px;
}

.col15-img-top img{
    width: 125.015px;
    height: 1.66.682px;
    border-radius: 4px;
    
}
.col15-cards p{
    font-size: 18px;
    color: rgb(49, 49, 51);
    direction: ltr;
    font-family: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
  
}
.card p{
   max-width: 140px;
   padding: 3px;
   line-height: 17px;
}







.col16{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
  padding: 8px;
    display: block;
    font-size: 14px;
    text-size-adjust: 100%;
    max-width: 100%;
    width: 100%;
}
.col16 section{
    box-sizing: border-box;
    background: #fff;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    box-shadow: rgba(0,0,0,0.05) 0px 2px 5px 0px;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;

}
.text-content{
    box-sizing: border-box;   
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-size-adjust: 100%;

}
.text-content h1, .text-content h2{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-size-adjust: 100%;
    
}
.text-content h3{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    display: block;
    font-size: 14.04px;
    font-weight: 400;
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
   padding-bottom: 8px;
   padding-top: 8px;
    text-size-adjust: 100%;
}
.text-content p{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
    font-size: 12px;
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    text-size-adjust: 100%;

}
.text-content a{
    box-sizing: border-box;
    color: rgb(49, 49, 51);
    cursor: pointer;
    direction: ltr;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
   text-decoration-color: rgb(49, 49, 51);
   text-decoration-line: underline;
   text-decoration-style: solid;
   text-decoration-thickness: auto;
    text-size-adjust: 100%;
}

footer{
    width: 100%;
    height: fit-content;
    background-color: rgb(83, 83, 87);
    box-sizing: border-box;
    color: rgb(241, 241, 242);
    direction: ltr;
    display: block;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    padding-bottom: 16px;
    text-size-adjust: 100%;
}
.footer-container{
    display: block;
    align-items: center;
    justify-content: space-evenly;
}
.top-desc{
    width: 100%;
    height: auto;
    background-color: rgb(49, 49, 51);
    direction: ltr;
    display: block;
   padding-bottom: 5px;
    text-size-adjust: 100%;
    padding-top: 20px;
}
.top-desc-container{
    height: auto;
    display: flex; 
    justify-content: space-between;
    padding-left: 30px;
    margin-left: 20px;
    padding-right: 40px; 
    margin-right: 20px;
    padding-top: 24px;
    margin-bottom: 16px;
    
}
.row1{
    padding: 0;
    margin: 0;
}
.row1 img{
   padding-left: 8px;
    font-weight: 900;
    width: 145px;
    height: auto;
   
}
.row2{
    box-sizing: border-box;
    direction: ltr;
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    text-size-adjust: 100%;
    align-items: start;
    justify-self: start;
}
.row2 h1{
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 8px;
    text-transform: uppercase;
    color: rgb(241, 241, 242);
}
.row2 p{
    font-weight: 400;
    font-size: 12px;
    color: rgb(241, 241, 242);
}
.row2 form{
   padding: 0;
   margin: 0;
   border: none;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.row2 input{
    width: 220px;
    height: 40px;
    display: block;
    border: none;
   font-family: Arial;
   font-size: 14px;
   font-weight: 400;
   align-items: center;
   text-align: start;
   padding: 5px 10px 5px 50px;

}
.form-input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}
.fa-envelope{
    padding: 12px;
    position: absolute;
    left: 15px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #a09e9e;
}
.btn-footer-row2{
    height: 40px;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    transition: ease-in;
}
.btn-footer-row2:hover{
   color: #f68b1e;
   border-color: #f68b1e;
}
.row3{
    box-sizing: border-box;
    direction: ltr;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 25%;
    min-width: 25%;
    min-width: auto;
    padding: 0 8px;
    text-size-adjust: 100%;
}
.row3-img{
    display: flex;
    flex-direction: row;
    color: rgb(241, 241, 242);
}
.row3 img{
    width: 35px;
    height: 35px;
}
.row3-content{
    display: block;
    padding-left: 8px;
}
.row3-img h1{
 font-size: 12px;
 font-weight: 700;
 padding-bottom: 8px;
 color: rgb(241, 241, 242);
 text-transform: uppercase;
}
.row3-img p{
    font-weight: 400;
    font-size: 12px;
    color: rgb(241, 241, 242);
}
.row3 form{
    border: none;
}
.btn-footer-row3-container{
    display: flex;
}
.btn-footer-row3{
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 13px;
    cursor: pointer;
    transition: ease-in;
}
.btn-footer-row3{
    display: flex;
    flex-direction: row;
    direction: ltr;
    padding: auto;
}
.row3-btn-text{
    display: block;
    direction: ltr;
    box-sizing: border-box;
}
.row3-btn-text h3{
    font-size: 13px;
    color: #fff;
}
.row3-btn-text p{
    font-size: 8px;
    color: #ffffffc2;  
}
.btn-footer-row3 i{
    font-size: 20px;
    padding: 5px;
    font-weight: 700;
}
.main-desc{
   direction: ltr;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding-bottom: 24px;
   padding-top: 25px;
   text-size-adjust: 100%;
}

.m-d-row{
    align-items: flex-start;
    direction: ltr;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.m-d-row h3 span, .down h3 span{
    text-transform: uppercase;
    direction: ltr;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 12px;
    margin-bottom: 16px;
    text-size-adjust: 100%;
}
.m-d-row ul, .down ul{
    padding-top: 12px;
    display: block;
}
.m-d-row ul li, .down ul li{
   direction: ltr;
   display: block;
   list-style: none;

}
.m-d-row ul li a, .down ul li a {
    color: rgb(241, 241, 241);
    direction: ltr; 
    display: list-item;
    padding-bottom: 7px;
    cursor: pointer;
    font-size: 12px;
    list-style-position: outside;
    text-align: left;
    text-decoration: none;
    text-size-adjust: 100%;
}
.m-d-row ul li a:hover, .down ul li a:hover{
    text-decoration: underline;
}
.side{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bottom-desc{
    direction: ltr;
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
    align-items: center;
    text-align: start;
    padding: 30px;
}
.payment, .social{
    display: block;
    text-align: start;
   margin-left: 50px;
   justify-content: space-between;
}
.b-text h1{
  display: block;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.s-links{
   display: flex;
   direction: ltr;
   padding-bottom: 16px;
   margin-right: 50px;
}
.s-links i{
    padding: 10px;
    font-size: 22px;
    margin-left: 5px;
}
.s-links i:hover{
    color: #f68b1e;
}

